pykan/__pycache__/
pykan/.DS_Store
pykan/docs/_build/
pykan/docs/_static/
pykan/docs/_templates
pykan/test
pykan/sr
pykan/pde
pykan/hidden
pykan/molecule
pykan/expressiveness
pykan/figures
pykan/molecule
pykan/applications
pykan/myenv
pykan/tutorials
pykan/docs
pykan/.ipynb_checkpoints
pykan/*.ipynb
pykan/pykan.egg-info
model
all*
xcsf

